<a href="https://colab.research.google.com/github/ismailsg/BigMat_Outlet_Sales/blob/main/BigMat_Outlet_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Hypothesis Generation**
Features based on the Store :
1. **The city of the store :**
Stores located in big and famous cities have higher sales comapred to others cities
2. **The location of the store in the city :**
Stores located in the city center or affluent neighborhood should have higher sales compared to stores on the outskirts of the city.
3. **Seniority of the store  :**
Old Stores  should sell higher than other stores because more people know about them .
4. **Size of the store :**
Large stores should have higher sales than medium and small stores.
5. **Store design and architecture:**
Distinguished and unique design  can attract customers.
6. **Reputation of stores:**
Stores having a good reputation can attract customers and sell more products.
7. **Store sellers**
The more talented and professional the sellers are, the more they sell.

Features based on the Product :
1. **Product Utility:**
Daily use products have a higher tendency to sell compared to other products.
2. **Product Quality**
Product with a good quality can attract customers and sell more.
3. **Product Price:**
Products that are cheap or on sale encourage customers to buy them .


Features based on the Customer :
1. **Job profile and annual income:**
A customer with a stable job and high income should have higher purchases.
2. **Family size:**
A customer with a large family should have higher purchases
3. **Gender:**
Woman buy more products than man . 
4. **Age categories:** 
Young people tend to shop more .

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

**Loading Packages and Data**

In [ ]:
filename='/content/drive/MyDrive/Train.csv'

my_data=pd.read_csv(filename)

print(my_data.head(5))

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15         9.30          Low Fat         0.016047
1           DRC01         5.92          Regular         0.019278
2           FDN15        17.50          Low Fat         0.016760
3           FDX07        19.20          Regular         0.000000
4           NCD19         8.93          Low Fat         0.000000

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052

**Data Structure and Content**

In [ ]:
print(str(my_data))
print(my_data.shape)
print(my_data.info())
print(my_data.describe())

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15        9.300          Low Fat         0.016047
1              DRC01        5.920          Regular         0.019278
2              FDN15       17.500          Low Fat         0.016760
3              FDX07       19.200          Regular         0.000000
4              NCD19        8.930          Low Fat         0.000000
...              ...          ...              ...              ...
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

                  Item_Type  Item_MRP Outlet_Identifier  \
0                     Dairy  249.8092            OUT049
1               Soft Drinks   48.2692            OUT018
2                      Meat  141.6180            OUT049
3     Fruits and Vegetables  182.0950            OUT010
4                 Household   53.8614            OUT013
...                     ...       ...               ...
8518            Snack Foods  214.5218            OUT013
8519           Baking Goods  108.1570            OUT045
8520     Health and Hygiene   85.1224            OUT035
8521            Snack Foods  103.1332            OUT018
8522            Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
1                          2009      Medium               Tier 3
2                          1999      Medium               Tier 1
3                          1998         NaN               Tier 3
4                          1987        High               Tier 3
...                         ...         ...                  ...
8518                       1987        High               Tier 3
8519                       2002         NaN               Tier 2
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
1     Supermarket Type2           443.4228
2     Supermarket Type1          2097.2700
3         Grocery Store           732.3800
4     Supermarket Type1           994.7052
...                 ...                ...
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[8523 rows x 12 columns]
(8523, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB
None
       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year  \
count  7060.000000      8523.000000  8523.000000                8523.000000
mean     12.857645         0.066132   140.992782                1997.831867
std       4.643456         0.051598    62.275067                   8.371760
min       4.555000         0.000000    31.290000                1985.000000
25%       8.773750         0.026989    93.826500                1987.000000
50%      12.600000         0.053931   143.012800                1999.000000
75%      16.850000         0.094585   185.643700                2004.000000
max      21.350000         0.328391   266.888400                2009.000000

       Item_Outlet_Sales
count        8523.000000
mean         2181.288914
std          1706.499616
min            33.290000
25%           834.247400
50%          1794.331000
75%          3101.296400
max         13086.964800

In [ ]:
print(my_data.dtypes)
missingData = my_data.isnull().sum()
print(missingData)
print(len(my_data['Item_Weight'].unique()))
print(my_data['Outlet_Size'].unique())

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object
Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64
416
['Medium' nan 'High' 'Small']

In [ ]:
rows = my_data.shape[0]
print(rows)
dupl_rows = my_data[my_data['Item_Weight'].duplicated()]
null_rows = my_data[my_data['Item_Weight'].isnull()]
print("number of null values",rows - len(null_rows))
print("number of duplicate values",rows - len(dupl_rows))

8523
number of null values 7060
number of duplicate values 416

In [ ]:
my_data.groupby(my_data['Outlet_Identifier']).sum()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Outlet_Identifier,,,,,
OUT010,7166.800,56.308832,78131.5646,1108890,1.883402e+05
OUT013,12121.730,55.879859,131809.0156,1851884,2.142664e+06
OUT017,11877.495,56.834646,129103.9564,1858482,2.167465e+06
OUT018,11946.465,56.621454,131477.7724,1864352,1.851823e+06
OUT019,0.000,57.257041,73807.5824,1048080,1.796941e+05
OUT027,0.000,54.804764,130714.6746,1855975,3.453926e+06
OUT035,11931.295,56.974873,133103.9070,1863720,2.268123e+06
OUT045,11751.840,56.180780,130942.7782,1859858,2.036725e+06
OUT046,11966.125,56.231875,132113.3698,1857210,2.118395e+06
OUT049,12013.225,56.549156,130476.8598,1859070,2.183970e+06

In [ ]:
for col in my_data.columns:
  if my_data[col].dtype == object and col not in ["Outlet_Identifier","Item_Identifier"]:
    print(col+ ' : ',my_data[col].unique())

Item_Fat_Content :  ['Low Fat' 'Regular' 'low fat' 'LF' 'reg']
Item_Type :  ['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']
Outlet_Size :  ['Medium' nan 'High' 'Small']
Outlet_Location_Type :  ['Tier 1' 'Tier 3' 'Tier 2']
Outlet_Type :  ['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']

In [ ]:
my_data.loc[my_data['Item_Weight'].isnull()]
#my_data.loc[my_data['Item_Identifier']=='FDP10']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

In [ ]:
for id in set(my_data["Item_Identifier"]):
  try:
    my_data.loc[(my_data["Item_Identifier"] == id), "Item_Weight"]=  list(my_data.loc[(my_data["Item_Identifier"] == id) & (my_data["Item_Weight"])]["Item_Weight"].head(1))[0]
  except :
    my_data=my_data[my_data["Item_Identifier"]!=id]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
missingData = my_data.isnull().sum()
print(missingData)

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
my_data.loc[(my_data['Outlet_Type'] == 'Supermarket Type3')& (my_data['Outlet_Location_Type']=='Tier 3')]['Outlet_Size'].head(50)
my_data.loc[(my_data['Outlet_Type'] == 'Supermarket Type3')& (my_data['Outlet_Location_Type']=='Tier 3'),'Outlet_Size']='Medium'
my_data.loc[(my_data['Outlet_Type'] == 'Supermarket Type1')& (my_data['Outlet_Location_Type']=='Tier 2')]['Outlet_Size'].head(50)
my_data.loc[(my_data['Outlet_Type'] == 'Supermarket Type1')& (my_data['Outlet_Location_Type']=='Tier 2'),'Outlet_Size']='Small'
my_data.loc[(my_data['Outlet_Type'] == 'Supermarket Type1')& (my_data['Outlet_Location_Type']=='Tier 3')]['Outlet_Size'].head(50)
my_data.loc[(my_data['Outlet_Type'] == 'Supermarket Type1')& (my_data['Outlet_Location_Type']=='Tier 3'),'Outlet_Size']='High'
missingData = my_data.isnull().sum()
print(missingData)

len(my_data.loc[(my_data['Outlet_Type']=='Grocery Store')&(my_data['Outlet_Location_Type'] == 'Tier 3') & (my_data['Outlet_Size'].isnull()) ]['Outlet_Size'])
my_data.loc[(my_data['Outlet_Type']=='Grocery Store')&(my_data['Outlet_Location_Type'] == 'Tier 3')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868
45,FDM39,6.420,LF,0.089499,Dairy,178.1002,OUT010,1998,NaN,Tier 3,Grocery Store,358.2004
65,FDC46,17.700,LF,0.195068,Snack Foods,185.4266,OUT010,1998,NaN,Tier 3,Grocery Store,184.4266
...,...,...,...,...,...,...,...,...,...,...,...,...
8400,NCE07,8.180,Low Fat,0.021977,Household,140.6154,OUT010,1998,NaN,Tier 3,Grocery Store,425.4462
8432,FDI16,14.000,Regular,0.227261,Frozen Foods,54.3640,OUT010,1998,NaN,Tier 3,Grocery Store,159.7920
8473,DRI47,14.700,Low Fat,0.035016,Hard Drinks,144.3128,OUT010,1998,NaN,Tier 3,Grocery Store,431.4384
8486,FDR20,20.000,Regular,0.000000,Fruits and Vegetables,46.4744,OUT010,1998,NaN,Tier 3,Grocery Store,45.2744
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804

In [ ]:
my_data.groupby(my_data['Outlet_Identifier']).count()
my_data.loc[(my_data['Outlet_Identifier'].isin(['OUT010','OUT019']))]
my_data.loc[(my_data['Outlet_Identifier']=='OUT010'),'Outlet_Size'] = 'Small'

In [ ]:
missingData = my_data.isnull().sum()
print(missingData)

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64